@font-face {
  font-family: SourceSansPro;
  src: url(SourceSansPro-Regular.ttf);
}

@media print {
body {-webkit-print-color-adjust: exact;}
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #0869E1;
  text-decoration: none;
}

body {
  position: relative;
  width: 21cm;  
  height: 27.8cm; 
  margin: 0 auto; 
  color: #555555;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  font-family: SourceSansPro;
}

header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
}

#logo {
  float: left;
  margin-top: 8px;
}

#logo img {
  height: 40px;
}

#company {
  float: right;
  text-align: right;
}


#details {
  margin-bottom: 50px;
}

#agentid {
  padding-left: 6px;
  border-left: 6px solid #0869E1;
  float: left;
}

#agentid .to {
  color: #777777;
}

h2.nameid {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

#leaddetailsid {
  float: right;
  text-align: right;
}

#leaddetailsid h1 {
  font-size: 2.4em;
  line-height: 1em;
  font-weight: bold;
  margin: 0  0 10px 0;
}

#invoice h1.unprocessed {
  color: #0869E1;
}

#leaddetailsid h1.appointment {
  color: #2BC844;
}

#leaddetailsid h1.not_reached_1 {
  color: #9568FF;
}
#leaddetailsid h1.not_reached_2 {
  color: #9568FF;
}
#leaddetailsid h1.not_reached_3 {
  color: #9568FF;
}
#leaddetailsid h1.not_reached_4 {
  color: #9568FF;
}
#leaddetailsid h1.not_reached_5 {
  color: #9568FF;
}

#leaddetailsid h1.deadline {
  color: #ED3DD1;
}

#leaddetailsid h1.closed {
  color: #FF5166;
}

#leaddetailsid h1.not_closed {
  color: #FFBF00;
}

#leaddetailsid h1.no_interests {
  color: #2A353A;
}

#leaddetailsid .leadnumberid {
  font-size: 1.1em;
  color: #777777;
}

#leaddetailsid .dateofissueid {
  font-size: 1.1em;
  color: #777777;
}

table.persinf {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table.persinf th {
  text-align: left;
  background-color: #0869E1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  color: #ffffff;
}

table.persinf td {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.borderr {
    border-top: 1px solid #AAAAAA;
}

#hinweisid{
  font-size: 1em;
  margin-bottom: 25px;
  margin-top: 25px;
}

#investitionsbetragid{
  padding-left: 6px;
  border-left: 6px solid #0869E1;  
}

#investitionsbetragid .investitionsbetragid1 {
  font-size: 1.2em;
  font-weight: bold;
}

footer {
  color: #777777;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}

